<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=10.189.44.150; Initial Catalog=IdeeMain; user id=sa; password=Ideeto0649" />
    <add key="WS.SmtpHost" value="mailsrv.ideeperviaggiare.it" />
    <add key="WS.SmtpPort" value="25" />
    <add key="WS.SmtpUser" value="robot@ideeperviaggiare.it" />
    <add key="WS.SmtpPassword" value="ThUa1d49." />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
